<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the page</h1>
    <p>Click <a href="/users/login">here</a> to login</p>
    <p>Click <a href="/users/register">here</a> to register</p>
    <p>Click <a href="/users/forgot-password">here</a> to reset password</p>
    <p>Click <a href="/users/profile">here</a> to view profile</p>
    <p>Click <a href="/users/logout">here</a> to logout</p>
    <p>Click <a href="/change-password">here</a> to change password</p>
</body>
</html>